.card {
  @apply w-full md:w-1/3 relative
}

.cardContent {
  @apply flex flex-col justify-center items-center h-[500px] w-full bg-cover bg-center transition hover:scale-105 duration-500;
}

.cardTitle {
  @apply text-5xl text-white
}

.cardButton {
  @apply bg-white py-2 px-8 absolute bottom-10 hover:bg-transparent hover:text-white hover:border hover:border-white transition duration-500
}